
/* LOGIN PAGE */

.login-header {
    flex: 1;
    width: 300px;
}

.login-header-text {
    text-align: center;
}

.login-form {
    max-width: 300px;
}

.login-button {
    margin-top: 20px;
    height: 50px;
    width: 100%;
}

.navbar {
    min-height: 60px;
}

.user-img {
    width: 25px;
    height: 25px;
    display: inline;
    float: left;
    margin-right: 15px;
    margin-left: auto;
    border-radius: 50%;
}

.user-details {
    margin: 0;
}

.user-name {
    display: inline-block;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* QUEUE FORMATTING */

.queue-img {
    width: 40px;
    height: 40px;
    display: inline;
    border-radius: 50%;
}